@using System.Linq
@using CleanTechSim.MainPage.Models
@model DynamicGraphModel

@{
    string divElementId = Model.GraphId;
    string canvasElementId = Model.GraphId + "Canvas";
    string medianInputElementId = Model.GraphId + "MedianInput";
    string dispersionInputElementId = Model.GraphId + "DispersionInput";
    string skewInputElementId = Model.GraphId + "SkewInput";
}

<div id="@divElementId" class="graph">

    @if (!string.IsNullOrWhiteSpace(Model.Title)) {
        <div>
            <span class="line-graph-title">@Model.Title</span>-<span class="line-graph-subtitle">@Model.SubTitle</span>
        </div>
    }
    
    <canvas id="@canvasElementId"></canvas>

    <div class="dynamic-graph-inputs">
        <div class="dynamic-graph-input-row">
            <span class="dynamic-graph-label">Median</span>
            <input id="@medianInputElementId" type="number" value="@Model.Median" class="dynamic-graph-input">
        </div>
        <div class="dynamic-graph-input-row">
            <span class="dynamic-graph-label">Dispersion</span>
            <input
                    id="@dispersionInputElementId"
                    type="range"
                    value="@Model.Dispersion.Initial"
                    min="@Model.Dispersion.Min"
                    max="@Model.Dispersion.Max"
                    step="@Model.Dispersion.Step"
                    class="dynamic-graph-input">
        </div>
        <div class="dynamic-graph-input-row">
            <span class="dynamic-graph-label">Skew</span>
            <input
                    id="@skewInputElementId"
                    type="range"
                    value="@Model.Skew.Initial"
                    min="@Model.Skew.Min"
                    max="@Model.Skew.Max"
                    step="@Model.Skew.Step" 
                    class="dynamic-graph-input">
        </div>
    </div>

    <script>

        new DynamicGraph(
            '@Model.GraphId',
            '@Model.AjaxUri.ToString()',

            '@canvasElementId',
            '@medianInputElementId',
            '@dispersionInputElementId',
            '@skewInputElementId')

            .initChart();

    </script>

</div>
