@using System.Linq
@using CleanTechSim.MainPage.Models
@model InputGraphModel

@{
    string divElementId = Model.GraphId;
    string canvasElementId = Model.GraphId + "Canvas";
    string medianInputElementId = Model.GraphId + "MedianInput";
    string dispersionInputElementId = Model.GraphId + "DispersionInput";
    string skewInputElementId = Model.GraphId + "SkewInput";
}

<div id="@divElementId" class="graph">

    @if (!string.IsNullOrWhiteSpace(Model.Title)) {
        <div>
            <span class="line-graph-title">@Model.Title</span>-<span class="line-graph-subtitle">@Model.SubTitle</span>
        </div>
    }
    
    <canvas id="@canvasElementId"></canvas>

    <div class="input-graph-inputs">
        <div class="input-graph-input-row">
            <span class="input-graph-label">Median</span>
            <input id="@medianInputElementId" type="number" value="@Model.Median" class="input-graph-input">
        </div>
        <div class="input-graph-input-row">
            <span class="input-graph-label">Dispersion</span>
            <input
                    id="@dispersionInputElementId"
                    type="range"
                    value="@Model.Dispersion.Initial"
                    min="@Model.Dispersion.Min"
                    max="@Model.Dispersion.Max"
                    step="@Model.Dispersion.Step"
                    class="input-graph-input">
        </div>
        <div class="input-graph-input-row">
            <span class="input-graph-label">Skew</span>
            <input
                    id="@skewInputElementId"
                    type="range"
                    value="@Model.Skew.Initial"
                    min="@Model.Skew.Min"
                    max="@Model.Skew.Max"
                    step="@Model.Skew.Step" 
                    class="input-graph-input">
        </div>
    </div>

    <script>

        var graph = new InputGraph(
            '@Model.GraphId',
            '@Model.AjaxUrl.ToString()',

            '@canvasElementId',
            '@medianInputElementId',
            '@dispersionInputElementId',
            '@skewInputElementId');

        // Store so can retrieve ref from main Index.cshtml
        window['@Model.DOMWindowVariableName()'] = graph;

    </script>

</div>
