@using System.Linq
@using CleanTechSim.EVMarket.Models
@model ComputeGraphModel

@{
    string divElementId = Model.GraphId + "Outer";
    string wrapperElementId = Model.GraphId + "Wrapper";
    string canvasElementId = Model.GraphId + "Canvas";
}

<div id="@divElementId" class="graph-outer">

    @if (!string.IsNullOrWhiteSpace(Model.Title)) {
        <div>
            <span class="line-graph-title">@Model.Title</span>-<span class="line-graph-subtitle">@Model.SubTitle</span>
        </div>
    }
    
    <div id="@wrapperElementId" class="graph-canvas-wrapper">
        <canvas id="@canvasElementId" class="graph-canvas"></canvas>
    </div>

    <script>

        var graph = new ComputeGraph(
            '@Model.GraphId',
            '@Model.AjaxUrl.ToString()',
            '@canvasElementId');

        window['@Model.DOMWindowVariableName()'] = graph;

    </script>

</div>
